.game-list-container {
    display: flex;
    flex-direction: column;
}

.create-game-btn {
    margin: 20px auto;
    display: block;
}

.game-list-item {
    display: flex;
    justify-content: space-between;
}
.game-txt {
    margin: auto 0;
}
.game-list-item button {
    margin: 10px;
}